*{
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(255, 255, 255)050;
}
.con{
    width: 400px;
    padding:25px 35px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: bisque;
    border-radius: 10px;
}

.con p{
    
}